@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721888235707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-out:before {
  content: "\e698";
}

.icon-api:before {
  content: "\e7e1";
}

.icon-bujufangshi:before {
  content: "\e61a";
}

.icon-help:before {
  content: "\e60e";
}

.icon-code:before {
  content: "\e621";
}

.icon-flow-chart:before {
  content: "\e730";
}

.icon-transfer:before {
  content: "\e50e";
}

.icon-Logout:before {
  content: "\e60d";
}

.icon-filter-records:before {
  content: "\e839";
}

.icon-table:before {
  content: "\e86c";
}

